# Miscellaneous
.atom/
.buildlog/
.history
.svn/
*.class
*.log
*.pyc
*.swp

# IDE
*.iml
*.ipr
*.iws
.idea/
.vscode/

# Flutter/Dart/Pub
**/doc/api/
**/ios/Flutter/.last_build_id
build/
.dart_tool/
.pub-cache/
.pub/
.flutter-plugins
.flutter-plugins-dependencies
.packages
pubspec.lock 

# Web
lib/generated_plugin_registrant.dart

# Symbolication & Obfuscation
app.*.symbols
app.*.map.json

# Android 
**/android/**/gradle-wrapper.jar
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java
**/android/key.properties
*.jks
.gradle/

# Google Services
android/app/google-services.json

# Mac
.DS_Store